// 以下是详情页内容
.w {
    width: 1200px;
    margin: 0 auto;
}
// body start
.bread {
    position: relative;
    width: 413px;
    height: 12px;
    line-height: 12px;
    top: 20px; 
    left: 1px;

    p {
        font-size: 12px;
        color: #333333;

        span {
            font-size: 12px;
            color: #666666;

            i {
                padding: 0 10px;
            }
        }
    }
}
.yangshi {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-top: 40px;
    border: 1px solid #ededed;
    text-align: center;
    padding-top: 34px;
    // vertical-align: middle;

    // img {
    //     // padding: 34px 99px;
    // }

}

.detail {
    width: 430px;
    height: 58px;
    line-height: 58px;
    margin-top: 64px;

    i {
        float: left;
        font-size: 40px;
        color: #dddddd;
    }
    .xiao {
        width: 40px;
        height: 52px;
        float: left;
        margin-left: 30px;
        padding: 3px 10px;
        border: 1px solid #c81623;
    }
    img {
        float: left;
        margin-left: 8px;

    }
}

.describe {
    float: right;
}


// body end